* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}


body {
  background-color: #000000;
  color: #ffffff;
  font-family: "chapman", sans-serif;
font-weight: bold;
font-style: normal;

}

.header-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/banner100.jpeg");
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .header-text a {
  color: #ffffff;
  text-decoration: none;
  font-weight: lighter;
 }

.header-text {

  text-align: center;
  font-size: 50px;
  display: flex;
  justify-content: center;
  color: #dedcdc;
  font-family: "bely-display", sans-serif;
}

.navbar-text {
  text-align: center;
  font-size: 22px;
  font-family: "chapman", sans-serif;
  font-weight: 700;
  font-style: normal;

  word-spacing: 30px;
}

h3 {
  color: rgb(0, 0, 0);
  font-family: Georgia, "Times New Roman", serif;
  text-align: center;
}


.navbar-text a{
  text-decoration: none;
  color: #ffffff;
  height: 50px;
  font-size: 20;
  word-spacing: 0.25em;
  background-color: transparent;
  text-align: center;
  justify-content: center;
}

p {
  font-size: .90em;
  text-indent: 3em;
}


/* about me */
#aboutmephoto {
  display: flex;
  float: left;
  width: 1000px;
  height: auto;
  padding: 20px;

}
#aboutmeinfo {
  position: absolute;
  right: 10px;
  width: 650px;
  padding: 20px;
}

/* socials */
#fbcontainer{
  display: flex;
  float: left;
  width: 500px;
  padding-left: 10%;
}
#instacontainer{
  display: flex;
  float: right;
  width: 500px;
  height: 300px;
  padding-right: 9%;
}

/* creations table */
.creaionstable {
    
    margin: 20px;
    padding: 20px;
  }

  tbody {
    font: 30px Georgia, Serif;
  }

  #page-wrap {
    margin: 50px;
    position: relative;

  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }

  tr:nth-of-type(even) {
    background: #3a034b;
    color: #ffffff;
  }
  tr:nth-of-type(odd) {
    background: #bdb0e6;
    color: #000000;
  }

  td {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }

  td:nth-of-type(1) {
    font-weight: bold;
  }

  td:nth-of-type(2) {
    width: 75%;
  }

/* book and business forms */
.book_km_form {
  display: flex;
  width: 20%;
  height: 40%;
  margin-right: auto;
  margin-left: auto;
}
.business_km_form {
  display: flex;
  width: 20%;
  height: 40%;
  margin-right: auto;
  margin-left: auto;
}
.text-field {
  background-color: #ffffff;
}
span {
  color: red;
}